.products__container {
    display: flex;
    flex-direction: column;
}

.product__line__container {
    display: flex;
    flex-direction: column;
}
.product__line__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    width: 95%;
}
.product__line__header h3 {
    font-weight: bold;
    color: #000;
    font-size: 22px;
}
.product__line__header button,
a {
    color: #2a7ae4;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background-color: #fff;
    margin-right: 10px;
}
.product__line__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.product__line__products__details {
    margin: 0.5rem;
    position: relative;
}
.product__line__products__details__product-img {
    width: 156px;
    height: 174px;
}

.product__line__products__details__delete-btn {
    position: absolute;
    top: 5%;
    right: 28%;
    color: #ffffff;
}
.product__line__products__details__edit-btn {
    position: absolute;
    top: 5%;
    right: 10%;
    color: #ffffff;
}
.product__line__products__details__product-btn {
    color: var(--primary-color);
    font-weight: 500;
}

.product__line__all__products {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.product__line__all__products__title {
    font-size: 22px;
    font-weight: bold;
    margin: 2rem 0 1rem 0;
}
.product__line__all__products__btn {
    background: var(--primary-color);
    color: #ffffff;
    width: 40%;
    height: 2rem;
}
